:root {
    --shadow-color: #FFF1CC;
    --background-color: #0f0d10;
    --blue-color: #007aff;
}


* , *:visited {
    text-decoration: none;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Zen Old Mincho', serif;
    font-size: 60px;
    margin: 0;
}

h2 {
    font-weight: 500;
    font-size: 25px;
}

p{
    font-weight: 100;
    font-size: 18px;
}

html {
    font-family: sans-serif;
    text-decoration: none;
    background-color: var(--background-color);
    color: white;
    font-family: 'Zen Maru Gothic', sans-serif;
}

.Top__Background {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%, rgba(15, 13, 16, 100)),
    radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, rgba(15, 13, 16, 0.5) 30%, rgba(15, 13, 16, 100)), 
    url(../img/LoneMountain.png);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
    height: 360px; 
}

.Mid__Background {
    background: linear-gradient(to bottom, 
    #0F0D10 0%, 
    #0F0D10 70%, 
    #181210 80%, 
    #181210 100%)
}
.Header__Conteiner {
    display: flex;
    justify-content: space-between;
    padding: 15px 40px 0px 40px;
    align-items: center;
    max-width: 600px;
    margin: auto;
}

.Header_Text {
    color: #fff;
    text-transform: uppercase;
    transition: 0.5s;
}

.Header_Text:hover {
    text-shadow: 0 0 1px var(--blue-color), 0 0 2px var(--blue-color), 0 0 4px var(--blue-color), 0 0 8px var(--blue-color), 0 0 16px var(--blue-color), 0 0 32px var(--blue-color);
    filter: drop-shadow(0 0 15px var(--blue-color)) drop-shadow(0 0 50px var(--blue-color));
}

.Header__Conteiner img {
    max-width: 20px;
    transition: 0.5s;
}

.Header__Conteiner img:hover {
    filter: drop-shadow(0 0 5px var(--blue-color)) drop-shadow(0 0 10px var(--blue-color)) drop-shadow(0 0 15px var(--blue-color));
}

.Heading {
    text-align: center;
    margin: 50px 0;
    transition: 0.5s;
}

.Heading p {
    font-weight: 100;
    margin: 0;
}

.Heading_Hidden {
    display: none;
}

.Explore__Conteiner {
    padding-bottom: 85px;
    margin: 0 20px; 
}

.Explore__Text {
    text-align: center;
    padding-bottom: 40px;
}

.Explore__Text h2 {
    margin-top: 0;
}

.Explore__img {
    max-width: 450px;
    width: 100%;
}

.Explore__img img {
    max-height: 290px;
    width: 100%;
    border-radius: 5px;
}

/* Button */

.Explore__SeeMore {
    text-align: center;
    display: block;
    position: relative;
    background: #fff;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    transition: 0.5s;
    font-size: 15px;
    width: 120px;
    margin: auto;
    margin-top: 40px;
}

.Explore__SeeMore:hover {
    background: var(--blue-color);
    color: var(--blue-color);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--blue-color);
}

.Explore__SeeMore::before
{
    content: '';
    position: absolute;
    inset: 2px;
    background-color: var(--background-color);
}
.Explore__SeeMore span {
    position: relative;
    z-index: 1;
}
.Explore__SeeMore i {
    position: absolute;
    inset: 0;
    display: block;
}
.Explore__SeeMore i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background-color: var(--background-color);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.Explore__SeeMore:hover i::before
{
    width: 20px;
    left: 20%;
}

.Explore__SeeMore i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background-color: var(--background-color);
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.Explore__SeeMore:hover i::after
{
    width: 20px;
    left: 80%;
}

.Philosophy__Conteiner h2 {
    text-align: center;
}

.Philosophy__Conteiner img {
    width: 100%;
    max-width: 450px;
    box-shadow: 0 0 40px 20px rgb(23 17 16);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.Philosophy__Conteiner img:hover {
    transform: scale(1.12);
}



.Philosophy__Conteiner {
    text-align: center;
    margin: 0 20px;
    padding-bottom: 50px;
}

.Philosophy__Conteiner p {
    margin-top: 15px;
}

.Footer_Home {
    padding-top: 315px;
    background-image: 
    linear-gradient(rgba(24, 18, 16, 100) 0%, rgba(24, 18, 16, 0) 20%),
    radial-gradient(circle, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0) 70%, rgba(24, 18, 16, 90)), 
    url(../img/CityDark.png );; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover;
}

.Footer_Container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 80px;
    padding-bottom: 15px;
}

.Footer__Line {
    width: 30px;
    height: 1px;
    background-color: white;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

Footer p {
    margin: 0;
    font-size: 16px;
}

.Footer__Text a{
    text-transform: uppercase;
    transition: 0.5s;
}

.Footer__Text a:hover {
    text-shadow: 0 0 1px var(--blue-color), 0 0 2px var(--blue-color), 0 0 4px var(--blue-color), 0 0 8px var(--blue-color), 0 0 16px var(--blue-color), 0 0 32px var(--blue-color);
}

.Footer__Facebook {
    margin-left: 10px;
}

.Footer_Container a {
    color: #fff;
}

.Footer_Icons a{
    transition: 0.5s;
}

.Footer_Icons a:hover {
    filter: drop-shadow(0 0 5px var(--blue-color)) drop-shadow(0 0 10px var(--blue-color)) drop-shadow(0 0 15px var(--blue-color));
}

.About__Conteiner img {
    max-width:  320px;
    box-shadow: 0 0 40px 20px rgba(96, 79, 48, 25%);
}

.About__Stepan{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 20px;
}

.About__Stepan p {
    margin: 60px 20px 0 20px;
}

.About__Tomas {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.About__Line {
    width: 320px;
    height: 1px;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

.About__Tomas p {
    margin: 60px 20px 0 20px;
}

.Gallery__Portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    margin: 20px;
}

.Gallery__Portfolio img {
    width: 150px;
    border-radius: 3px;
    box-shadow: 0 0 40px 20px rgba(96, 79, 48, 25%);
    height: 180px;
    object-fit: cover;
    cursor: pointer;
    transition: box-shadow 1s ease, transform 0.3s ease;
}

.Gallery__Portfolio img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 25px 10px rgb(231, 174, 67);
}

@media (min-width: 450px) {
.Heading {
    margin: 50px 20px;
}
.Header__Conteiner {
    padding: 15px 80px 0px 80px;    
}
.Explore__Text {
    max-width: 500px;
    margin: auto;
}
.Philosophy__Conteiner {
    max-width: 500px;
    margin: auto;
    padding: 50px 20px;
}
.About__Conteiner {
    padding: 0 50px;
    max-width: 600px;
    margin: auto;
}
}


@media (min-width: 900px) {
    .Top__Background{
        height: 500px;
    }
    .Heading {
        margin: 110px;
    }
    h2 {
        font-size: 30px;
    }
    h1 {
        font-size: 70px;
    }
    .Header__Conteiner {
        max-width: 100%;
        padding: 35px 80px 0px 80px;
    }
    .Philosophy__Conteiner {
        max-width: 900px;
        width: 100%;
    }
    .Philosophy__Flex {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        align-items: center;
    }
    .Philosophy__Flex p {
        max-width: 400px;
    }
    .Philosophy__Conteiner img {
        max-width: 100%;
    }
    .Footer__Line {
        width: 1px;
        height: 30px;
        margin: 0 20px;
    }
    .Footer_Container {
        flex-direction: row;
        margin: auto;
        padding-bottom: 50px;
        margin-top: 150px;
        align-items: center;
        justify-content: center;
    }
    .Footer_Home {
        padding-top: 340px;
    }
    .About__Conteiner {
        max-width: 700px;
        margin: auto;
        padding: 0;
    }
    .About__Stepan {
        flex-direction: row;
        align-items: center;
    }
    .About__Stepan p {
        margin: 0 0 0 50px;
    }
    .About__Line {
        width: 700px;
    }
    .About__Tomas {
        flex-direction: row;
        align-items: center;
    }
    .About__Tomas p {
        margin: 0 50px 0 0;
    }
    .Gallery__Portfolio {
        max-width: 1000px;
        margin: auto;
        padding-top: 20px;
    }
    .Gallery__Portfolio img {
        width: 300px;
        height: 360px;

    }
}

@media (min-width: 1200px) {
    p {
        font-size: 22px;
    }
    h2 {
        font-size: 32px;
        margin-bottom: 70px;
    }
    h1 {
        font-size: 80px;
    }
    .Top__Background {
        height: 600px;
    }
    .Header__Conteiner {
        max-width: 1300px;
    }
    .Header__Conteiner p {
        font-size: 20px;
    }
    .Header__Conteiner img {
        max-width: 35px;
    }
    .Explore__Text {
        max-width: 700px;
        padding: 0;
    }
    .Explore__img {
        max-width: 1000px;
    }
    .Explore__img.swiper {
        padding: 50px;
    }
    .Explore__img img {
        height: 400px;
        object-fit: cover;
        max-height: 550px;
        transition: box-shadow 1s ease, transform 0.3s ease;
    }
    .Explore__img img:hover {
        transform: scale(1.12);
    }
    .Philosophy__Conteiner {
        max-width: 1000px;
    }
    .About__Conteiner {
        max-width: 1000px;
    }
    .About__Conteiner img {
        max-width: 500px;
    }
    .About__Line {
        width: 1000px;
    }
    .Explore__SeeMore {
        font-size: 20px;
        width: 200px;
    }
    Footer p {
        font-size: 18px;
    }
    .Footer__Text {
        font-size: 18px;
    }
}